.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.header { 
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    place-items: center;
    background: #ffffff;
}

.controls { 
    grid-area: 3 / 1 / 4 / 3; 
}

.container { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 0.15fr 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.left-col { 
    display: grid;
    place-items: stretch;
    grid-area: 2 / 1 / 3 / 2;
    background: #ececec;
} 

.out_canvas {
    display: grid;
    place-items: center;
}

.right-col { 
    display: grid;
    place-items: stretch;
    grid-area: 2 / 2 / 3 / 3;
    background: yellow;
} 

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

#code {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .8 );
}

#close {
    padding: 0.5rem; 
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.3s;
    background: #ffffff;
}

.btn_generate {
    padding: 0.5rem; 
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.3s;
    background: #ffffff;
    display: none;
}

.popup {
    background: #fff;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    font-family: 'Courier Prime', monospace;
    /* overflow: scroll; */
    padding: 1rem;
    border-radius: 5px;
}

.popup > p {
    padding: 1rem;
    background: #f4f4f4;
    border-radius: 5px;
}

body {
    background: #f6f6f6;
    font-family: 'Roboto Condensed', sans-serif;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}
  
@media(min-width: 540px){
    .card-grid{
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media(min-width: 960px){
    .card-grid{
        grid-template-columns: repeat(4, 1fr); 
    }
}

.card {
    list-style: none;
    position: relative;
    padding: 1rem;
    border-radius: 8px;
    background: #ffffff;
    margin: 0.5rem;
    box-shadow: 0 0 20px rgb(241 240 240);

    display: grid;
    place-items: stretch;
}

.card_content {
    height: 12rem;
}

.var_card {
    overflow: overlay;
}

.card_content > label {
    width: 5rem;
    display: inline-block;
    /* margin-bottom: 0.5rem; */
}

.canvas_btn {
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    /* opacity: 0.8; */
    transition: 0.3s;
    border: 1px solid  #f9f5f5;
    background: white;
    color: #fff;
}

.canvas_btn:nth-child(1) {
    background: blue;
}

.canvas_btn:nth-child(2) {
    background: black;
}

.canvas_btn:nth-child(3) {
    background: yellow;
    color: #000;
}

.canvas_btn:nth-child(4) {
    background: #ff6868;
}

.op-title {
    font-weight: 700;
    margin-block-start: 0em;
}
 
i {
    float: right !important;
    margin-left: 0.5rem;
}

.canvas_btn:hover {
    opacity: 0.85;
}
  
.inline_btns {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
}

.fullwidth_btn {
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    place-items: center;
    padding: 1rem;
}

.btn_apply, .btn_apply_spec {
    background: #e6e6e6;
    color: #070606;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0 0.5rem 0;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 1rem;
}

#div_filter {
    display: none;
}

#div_filter > label {
    width: 5rem;
    display: inline-block;
}

.btn_apply:hover {
    opacity: 1;
}

#button, #reload, #roi, #bbox_btn, #revert, .btn_apply {
    visibility: hidden;
}

/* Tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
  }
  
  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
  
  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
  
  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  